# Python
__pycache__
*.pyc
*.egg-info
dist

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

.ipynb_checkpoints
*.ipynb

# Dataset
SMART_info_v2.csv
dataset/SMART101-release-v1/SMART101-Data/*
!dataset/SMART101-release-v1/SMART101-Data/.gitkeep

finetune/llava/dataset
dataset/clip_images/*
!dataset/clip_images/.gitkeep

#.env
.env

#log
*.log

#.history
.history